/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía global */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Links globales */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #007bff;
  cursor: pointer;
}
